<div class="container">
  <div class="title">Nouvelle famille</div>
  <div class="content">
    <form action="#">
      <div class="user-details">
        <div class="input-box">
          <span class="details">Nom famille</span>
          <input type="text" placeholder="Enter  nom" required>
        </div>
       
        <div class="input-box">
          <span class="details">Type famille</span>
          <input type="text" placeholder="Enter  type" required>
        </div>
       
       
      </div>
      
      <div class="button">
        <input type="submit" value="Ajouter">
      </div>
    </form>
  </div>
</div>

