<h1> Gestion tarif</h1>
<div class="search-div">
  <button mat-raised-button (click)="AjoutTarif()">
    <mat-icon>add</mat-icon>Ajouter
  </button>
  <mat-form-field class="search-form-field" floatLabel="never">
    <input matInput [(ngModel)]="searchKey" placeholder="Search" autocomplete="off" (keyup)="applyFilter()">
   <button mat-button matSuffix mat-icon-button aria-label="Clear" (click)="onSearchClear()">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>
</div>

<table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">


  <ng-container matColumnDef="date_debut">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Date debut </th>
    <td mat-cell *matCellDef="let element"> {{element.date_debut}} </td>
  </ng-container>


  <ng-container matColumnDef="date_fin">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Date fin </th>
    <td mat-cell *matCellDef="let element"> {{element.date_fin}} </td>
  </ng-container>
  
  <ng-container matColumnDef="fournisseur">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Fournisseur</th>
    <td mat-cell *matCellDef="let element"> {{element.fournisseur}} </td>
  </ng-container>

    
  <ng-container matColumnDef="article">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Article</th>
    <td mat-cell *matCellDef="let element"> {{element.article}} </td>
  </ng-container>

  <ng-container matColumnDef="montant">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Montant </th>
    <td mat-cell *matCellDef="let element"> {{element.montant}} </td>
  </ng-container>

 

  <ng-container matColumnDef="actions">
    <mat-header-cell *matHeaderCellDef></mat-header-cell>
    <mat-cell *matCellDef="let row">
      <button class="update" mat-icon-button ><mat-icon>system_update_alt</mat-icon></button>
      <button class="matdel" mat-icon-button color="warn"><mat-icon>delete</mat-icon></button>
    </mat-cell>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

</table>



  <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
